
@{/* Key for SSR to work */}
@addTagHelper *, Microsoft.AspNetCore.SpaServices

@{
    ViewData["Title"] = "Login";

    dynamic prerenderData = new
    {
    };


//sidtodo test these when live.
// The point of referencing the Github repo instead of Azure is to reduce Azure bandwidth LOL.
#if DEBUG
    // Can't reference repository JS files due to this error:
    // Refused to execute script from '..' because its MIME type ('text/plain') is not executable, and strict MIME
    // type checking is enabled.
    string jsClientFilename="/js/main-client-debug.js";
    string jsServerFilename="Server/main-server-debug";
    string reactElementName="reactDebug";
    string semanticCSS="/css/semantic.css";
    string carouselCSS="/css/carousel.min.css";
    string demoCSS="/css/demo.css";
#else
    
    string jsClientFilename="/js/main-client.js";
    string jsServerFilename="Server/main-server";
    string reactElementName="react";
    string semanticCSS="/css/semantic.css";
    string carouselCSS="/css/carousel.min.css";
    string demoCSS="/css/demo.css";
#endif
}

<link rel="stylesheet" href="@semanticCSS" />
<link rel="stylesheet" href="@carouselCSS"/>
<link rel="stylesheet" href="@demoCSS" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <body>

        <div id="@reactElementName" asp-prerender-module="@jsServerFilename" asp-prerender-data="prerenderData"></div>

        @{
            string ssrOnly=Environment.GetEnvironmentVariable("SSR_Only");
            if(ssrOnly == null || ssrOnly=="0")
            {
                <script src=@jsClientFilename></script>
            }
        }

    </body>
</html>